
.user-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin: 5px 0;
    width: 100%;
    height: 100%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .user-type.active {
    border: solid 3px black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .user-icon {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 10px 0;
  }
  .icon-continer {
    display: flex;
    flex: 1;
  }
  .user-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  
  .user-description h2,
  .user-description p {
    margin: 0;
  }
  
  .user-description p {
    font-size: 0.8rem;
    color:#878b8c;
  }
  .user-description h2 {
    font-size: 1.2rem;
    color: rgb(5, 5, 5);
  }